#login {
  margin-top: 15px;
  background-color:red;
  border-color:red;
  color:white;
}

.nav-sidebar > li.active {
  background-color: #eee;
}

#sitemap {
  background-color:#BDBDBD;
  color:white;
}

.mission {
  background-color:#aaa;
  opacity:0.5;
}
#missionStatement {
	margin-left:5px;
}

img.picrow {
	padding:1px;
	border:1px solid #021a40;
}

#main {
	width:960px;
}

img.picrow:hover {
	opacity: 0.4;
}

img.d2d:hover {
	opacity:0.4;
}